<% title "User" %>

<h3>User Profile:</h3>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>
<p>
  <strong>Avatar:</strong><br />
  <%= image_tag @user.avatar_url.to_s%>
</p>

<% if @is_current_user %>
<p>
  <%= link_to "Edit Profile", edit_user_registration_path(@user) %>
</p>
<% end %>

<h3>Currently following:</h3>
<ul>
  <% for followship in @user.followships.includes(:follower) %>
    <li>
      	<%= link_to followship.follower.username, profile_path(:id => followship.follower) %>
		<% if @is_current_user %>
      		(<%= link_to "unfollow", followship, :method => :delete %>)
		<% end %>
    </li>
  <% end %>
</ul>

<h3>Currently being followed:</h3>
<ul>
  <% for user in @user.followings %>
    <li><%= link_to user.username, profile_path(:id => user) %></li>
  <% end %>
</ul>