<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => true }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :username %><br />
  <%= f.text_field :username %></div>

<% if @user.password_required? %>
  
<div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :avatar%><br /><%= f.file_field :avatar %></div>

  <div><%= f.label :remote_avatar_url, "or avatar url" %><br />
  	   <%= f.text_field :remote_avatar_url %></div>
<% end %>
  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
