<% title "My Proposals" %>

<table>
  <tr>
    <th>Post</th>
    <th>Trade Post</th>
    <th>Propose</th>
    <th>Status</th>
    <th>Cash</th>
  </tr>
  <% for proposal in @proposals %>
    <tr>
      <td><%= proposal.post_id %></td>
      <td><%= proposal.trade_post_id %></td>
      <td><%= proposal.propose %></td>
      <td><%= proposal.status_type %></td>
      <td><%= proposal.price %></td>
      <td><%= link_to "Show", proposal %></td>
      <td><%= link_to "Edit", edit_proposal_path(proposal) %></td>
      <td><%= link_to "Destroy", proposal, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Proposal", new_proposal_path %></p>
