<% title "Post" %>

<p>
  <strong>Title:</strong>
  <%= @post.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @post.content %>
</p>
<p>
  <strong>Trade for:</strong>
  <%= @post.trade %>
</p>
<p>
  <strong>or Price:</strong>
  <%= @post.cash %>
</p>
<p>
  <strong>Status</strong>
  <%= @post.status_type %>
</p>
<p>
  <strong>Owner:</strong>
  <%= @post.user.username %>
</p>
<p>
  <strong>Image:</strong><br />	
  <% if !@images.blank? %>
    <% for image in @images %>
		<%= image_tag image.image_url(:iphone).to_s%>      
    <% end %>
  <% else %>
    
  <% end %>
</p>
<p>
	<div id="fb-root"></div>
	<div class="fb-like" data-send="false" data-layout="button_count" data-width="85" data-show-faces="false"></div>
	<div><a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script></div>
</p>
<%= render :partial => "general/post_menu_options", :locals => { :post => @post, :likers => @post.likers, :favorite => get_my_favorite_post(@post) }%>

