<% title "Post" %>

<p>
  <strong>Title:</strong>
  <%= @post.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @post.content %>
</p>
<p>
  <strong>Trade for:</strong>
  <%= @post.trade %>
</p>
<p>
  <strong>or Price:</strong>
  <%= @post.cash %>
</p>
<p>
  <strong>Status</strong>
  <%= @post.status_type %>
</p>
<p>
  <strong>Owner:</strong>
  <%= @post.user.username %>
</p>
<p>
  <strong>Image:</strong><br />	
  <% if !@images.blank? %>
    <% for image in @images %>
		<%= image_tag image.image_url(:iphone).to_s%>      
    <% end %>
  <% else %>
    
  <% end %>
</p>


<p>
  <%= link_to "Edit", edit_post_path(@post) %> |
  <%= link_to "Destroy", @post, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", posts_path %> |
  <%= link_to "Like", likeships_path(:post_id => @post.id), :method => :post %> |
  <% if @post.user != current_user %>
	<a href="void:javascript" class="open_dialog" post_id = "<%= @post.id%>">Propose</a>
  <% end %>
</p>
