<% title "Post" %>

<p>
  <strong>Title:</strong>
  <%= @post.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @post.content %>
</p>
<p>
  <strong>Trade for:</strong>
  <%= @post.trade %>
</p>
<p>
  <strong>or Price:</strong>
  <%= @post.cash %>
</p>
<p>
  <strong>Status</strong>
  <%= @post.status_type %>
</p>
<p>
  <strong>Owner:</strong>
  <%= @post.user.username %>
</p>
<p>
  <strong>Image:</strong><br />	
  <% if !@images.blank? %>
    <% for image in @images %>
		<%= image_tag image.image_url(:iphone).to_s%>      
    <% end %>
  <% else %>
    
  <% end %>
</p>

<%= render :partial => "general/post_menu_options", :locals => { :post => @post, :likers => @post.likers, :favorite => get_my_favorite_post(@post) }%>

