<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || "First App" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="user_nav">
		<% if user_signed_in? %>
			Signed in as <%= current_user.username %>.(<%= link_to "Profile", profile_path(:id => current_user.id)%>) Not you?
			<%= link_to "Signout", destroy_user_session_path, :method => "delete" %>
		<% else %>
			<%= link_to "Sign Up", new_user_registration_path %> or
			<%= link_to "Signin", new_user_session_path %>
		<% end %>
	</div>
	
	<p id="notice"><%= notice %></p>
	<p id="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
