<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || "First App" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%#= javascript_include_tag "jquery-ui" %>
	
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
	<div id="nav_section">
		<div id="app_name">SwapGuru</div>
     <% if user_signed_in? %>
		<div id="menu_navi">
			<span class="navi_link"><%= link_to "Feed", feed_timeline_path%></span>
			<span class="navi_link"><%= link_to "Explore", posts_path%></span>
			<span class="navi_link"><%= link_to "Swap", new_post_path%></span>
			<span class="navi_link"><%= link_to "News", feed_timeline_path%></span>
			<span class="navi_link"><%= link_to "Favorites", my_favorites_favorites_path%></span>
			<span class="navi_link"><%= link_to "Users", list_path%></span>
			<span class="navi_link"><%= link_to "Profile", profile_path(:id => current_user.id) %></span>
		</div>
	<% end %>
		<div id="user_nav">
			<% if user_signed_in? %>
				<%= image_tag current_user.avatar_url(:thumbnail).to_s, :size=>"25x25", :class=>"thumbnail"%> 
				<%= link_to current_user.username, profile_path(:id => current_user.id), :class=>"link"%> 
				<%= link_to "Signout", destroy_user_session_path, :method => "delete", :class=>"link" %>
			<% else %>
				<%= link_to "Sign Up", new_user_registration_path, :class=>"link" %>
				<%= link_to "Signin", new_user_session_path, :class=>"link" %>
			<% end %>
		</div>		
	</div>
	<!-- <p id="notice"><%= notice %></p>
	<p id="alert"><%= alert %></p>	 -->
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>	
</body>
</html>
